<div class="panel panel-primary">
    <div class="panel-heading">
        {{objmodal.title}}
    </div>
    <div class="panel-body">
        <h4>{{objmodal.question}}?</h4>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancel()">{{objmodal.lblno}}</button>
            <button type="button" class="btn btn-primary" ng-click="acept()">{{objmodal.lblyes}}</button>
        </div>
    </div>
</div>