<div class="panel panel-primary">
    <div class="panel-heading">
        Corfimación de Borrado
    </div>
    <div class="panel-body">
        <h4>Desea eliminar al usuario {{deletedUser.fullname}}?</h4>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelDelete()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="deleteUser()">Eliminar</button>
        </div>
    </div>
</div>